.password-wrapper {
  min-height: 100%;

  .head {
    background: none;
    text-align: center;
    height: 160px;
    line-height: 160px;
    .password-title {
      font-size: 36px;
      font-weight: bold;
    }
  }

  .step-wrap {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
  }

  .password-form {
    width: 400px;
    padding: 20px;
    margin: 0 auto;
  }

  :global {
    .ant-steps-item-process
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-title::after {
      background-color: #d3d3d3;
    }

    .ant-steps-item-wait
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-title::after {
      background-color: #d3d3d3;
    }
  }
}
