.div1,
.box1 {
  border: 2px solid blue;
}
.div2 {
  border: 5px solid blue;
}
.content {
  background-color: red;
  width: 600px;
  height: 200px;
}
.class {
  filter: ms:alwaysHasItsOwnSyntax.For.Stuff();
}
