.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #8d99a6;
  background: #f0f2f5;
}
.link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  a {
    padding: 0 5px;
    color: #8d99a6;
    &:hover {
      color: #aeaeae;
    }
  }
}
